@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<Microsoft.AspNetCore.Components.Routing.Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <h1>Not found</h1>
    </NotFound>
</Microsoft.AspNetCore.Components.Routing.Router>
